<!-- Job Item -->
<div class="flex justify-between mb-4 p-4 border-b-2 border-base-300">
	<!-- Detail -->
	<div>
		<!-- Title -->
		<div class="mb-4">
			<div class="text-2xl font-bold mb-2">This is the title</div>
			<div class="text-lg">@ Company</div>
		</div>

		<!-- A little bit of description -->
		<div class="text-lg mb-4">Just a little bit of description</div>

		<!-- Requirements -->
		<div class="mb-4">
			<div class="text-lg mb-2">Requirements</div>

			<ul class="list-disc ml-4">
				<li>Requirements</li>
				<li>Requirements</li>
				<li>Requirements</li>
				<li>Requirements</li>
				<li>Requirements</li>
			</ul>
		</div>

		<!-- Tag -->
		<div class="flex gap-4 mb-4 max-w-lg">
			<button class="btn btn-outline">Tag</button>
			<button class="btn btn-outline">Tag</button>
			<button class="btn btn-outline">Tag</button>
			<button class="btn btn-outline">Tag</button>
		</div>
	</div>

	<!-- Click to apply -->
	<div>
		<a href="#" class="flex">
			<span class="text-2xl flex-1">Lamar</span>
			<span
				class="iconify w-8 h-8"
				data-icon="heroicons:arrow-up-right-20-solid"
			></span>
		</a>
	</div>
</div>
